.morePicsSection {
    height: 60%;
    width: 90%;
    z-index: 1;
    background-color: var(--bgBlack2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top: 3px solid var(--myGreen);
}

.morePicsSection .iconCloseWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem 0.8rem 1rem 0;
}

.iconCloseWrapper .closeDivIcon {
    margin: 0;
    padding: 0.1rem;
    border: 1px solid transparent;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    color: var(--myWhite);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeDivIcon .closeGalleryIcon {
    height: 1.6rem;
    width: 1.6rem;
    text-align: right;
    cursor: pointer;
}

.closeDivIcon:hover,
.closeDivIcon:active {
    color: var(--closeBtn);
    border: 1px solid var(--closeBtn);
}

.morePicsSection .imagesDirWrapper {
    display: grid;
    grid-template-columns: 1.8rem 1fr 1.8rem;
    gap: 0.2rem;
    height: 70%;
    align-items: center;
    justify-content: center;
    padding: 0 0.1rem;
}

.imagesDirWrapper .dirIconBtn {
    border-radius: 50%;
    padding: 0.3rem;
    border: 1px solid transparent;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--myWhite);
    cursor: pointer;
}

.dirIconBtn .dirIcon {
    height: 1rem;
    width: 1rem;
}

.imagesDirWrapper .dirIconBtn:hover,
.imagesDirWrapper .dirIconBtn:active {
    border: 1px solid #4de969;
    color: #4de969;
    background-color: transparent;
}

.morePicsSection .imagesDiv {
    height: 50%;
}

.morePicsSection .imagesDiv img {
    display: block;
    object-fit: cover;
    height: 90%;
}

.morePicsSection .imagesDiv p {
    color: var(--myWhite);
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}


/* ++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 350px) {
    .morePicsSection .imagesDiv {
        height: 60%;
    }
}

@media screen and (min-width: 400px) {
    .morePicsSection .imagesDiv {
        height: 70%;
    }
}

@media screen and (min-width: 400px) {
    .morePicsSection .imagesDirWrapper {
        height: 75%;
    }
}

@media screen and (min-width: 500px) {
    .morePicsSection {
        height: 70%;
    }

    .morePicsSection .imagesDiv {
        height: 80%;
    }

    .morePicsSection .imagesDirWrapper {
        height: 80%;
    }
}

@media screen and (min-width: 600px) {
    .morePicsSection {
        height: 80%;
    }

    .morePicsSection .imagesDirWrapper {
        height: 75%;
        grid-template-columns: 2rem 1fr 2rem;
    }

    .dirIconBtn .dirIcon {
        height: 1.2rem;
        width: 1.2rem;
    }
}

@media screen and (min-width: 660px) {
    .morePicsSection .imagesDirWrapper {
        height: 80%;
    }
}


@media screen and (min-width: 700px) {
    .morePicsSection {
        height: 85%;
    }

    .morePicsSection .imagesDiv {
        height: 90%;
    }

    .morePicsSection .imagesDirWrapper {
        grid-template-columns: 2.1rem 1fr 2.1rem;
    }

    .imagesDirWrapper .dirIconBtn {
        padding: 0.4rem;
    }
}

@media screen and (min-width: 800px) {
    .morePicsSection .imagesDirWrapper {
        gap: 0.7rem;
    }

    .morePicsSection .imagesDiv {
        height: 85%;
    }
}

@media screen and (min-width: 840px) {
    .morePicsSection .imagesDirWrapper {
        padding: 0.5rem;
    }

    .morePicsSection .imagesDirWrapper {
        gap: 1rem;
    }
}