.morePicsTransparentBg {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionMorePics {
    background-color: var(--bgBlack2);
    border-top: 2px solid var(--myGreen);
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    width: 90%;
}

/* close btn */
.sectionMorePics .wrapCloseIconDiv {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 4rem auto;
    width: 95%;
    padding: 0;
    /* background-color: floralwhite; */
}

.wrapCloseIconDiv .divCloseIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: var(--closeBtn);
    cursor: pointer;
    color: var(--greyWhite);
    padding: 0.3rem;
    margin: 0.5rem 0;
}

.wrapCloseIconDiv .divCloseIcon:hover,
.wrapCloseIconDiv .divCloseIcon:active {
    background-color: red;
}

.divCloseIcon .closeIcon {
    height: 1.4rem;
    width: 1.4rem;
}

/* arrow buttons & image slider */
.sectionMorePics .wrapBtnsAndImage {
    /* background-color: pink; */
    padding: 0;
    margin: 0;
}

.wrapBtnsAndImage .theBtnsDiv {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 2rem;
    /* background-color: violet; */
}

.theBtnsDiv button {
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--greyWhiteTwo);
    color: var(--myWhite);
}

.theBtnsDiv button:hover,
.theBtnsDiv button:active {
    background-color: transparent;
    border: 1px solid var(--myGreen);
    color: var(--myGreen);
}

.theBtnsDiv button:disabled {
    border: 1px solid transparent;
    opacity: 0.2;
    color: var(--greyWhiteTwo);
}

.theBtnsDiv button .directionIcon {
    height: 1.5rem;
    width: 1.5rem;
}

/* image & paragraph */
/* .wrapBtnsAndImage .imageAndParagraphDiv {
    background-color: slategray;
} */

.wrapBtnsAndImage .imageAndParagraphDiv p {
    text-align: center;
    margin-bottom: 0.6rem;
}

.wrapBtnsAndImage .imageAndParagraphDiv img {
    object-fit: cover;
    font-weight: 500;
    height: 12rem;
}


/* ++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 330px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 14rem;
    }
}

@media screen and (min-width: 390px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 17rem;
    }
}

@media screen and (min-width: 475px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 20rem;
    }
}

@media screen and (min-width: 560px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 24rem;
    }
}

@media screen and (min-width: 675px) {
    .sectionMorePics {
        width: 80%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 25rem;
    }
}

@media screen and (min-width: 780px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 26rem;
    }
}

@media screen and (min-width: 800px) {
    .sectionMorePics {
        width: 70%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 25rem;
    }
}

@media screen and (min-width: 905px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 28rem;
    }
}

@media screen and (min-width: 1000px) {
    .sectionMorePics {
        width: 60%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 27rem;
    }
}

@media screen and (min-width: 1150px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 30rem;
    }
}

@media screen and (min-width: 1265px) {
    .sectionMorePics {
        width: 50%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 27rem;
    }
}

@media screen and (min-width: 1380px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 30rem;
    }
}

@media screen and (min-width: 1515px) {
    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 32rem;
    }
}

@media screen and (min-width: 1610px) {
    .sectionMorePics {
        width: 45%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 32rem;
    }
}

@media screen and (min-width: 1800px) {
    .sectionMorePics {
        width: 40%;
    }

    .wrapBtnsAndImage .imageAndParagraphDiv img {
        height: 32rem;
    }
}