.productCard {
    background-color: var(--bgBlack3);
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    color: var(--greyWhite);
}

.productCard img {
    display: block;
    object-fit: cover;
    height: 11rem;
    width: 100%;
    cursor: pointer;
}

.productCard h4 {
    margin: 0.9rem 0 0.6rem 0;
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: 500;
}

.productCard p {
    margin: 0 0 0.2rem 0;
    font-size: 14px;
    padding-left: 1rem;
}

.productCard p:first-of-type,
.productCard .specP {
    opacity: 0.4;
}

.productCard hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 1rem 0;
}

.productCard .keySpecs {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.productCard .price,
.productCard .newPrice {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.productCard .savePrice {
    opacity: .3;
    text-decoration: none;
    margin-left: .6rem;
}

.productCard button {
    width: 100%;
    padding: .9rem 0;
    background-color: var(--myGreen);
    border: none;
    color: var(--myWhite);
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.productCard button:hover,
.productCard button:active {
    background-color: var(--hoverGreen);
}


/* ++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 301px) {
    .productCard img {
        height: 13rem;
    }
}

@media screen and (min-width: 325px) {
    .productCard img {
        height: 14rem;
    }
}

@media screen and (min-width: 345px) {
    .productCard img {
        height: 15rem;
    }
}

@media screen and (min-width: 420px) {
    .productCard img {
        height: 18rem;
    }
}

@media screen and (min-width: 460px) {
    .productCard img {
        height: 20rem;
    }
}

@media screen and (min-width: 510px) {
    .productCard img {
        height: 22rem;
    }
}

@media screen and (min-width: 600px) {
    .productCard img {
        height: 12rem;
    }
}

@media screen and (min-width: 620px) {
    .productCard img {
        height: 13rem;
    }
}

@media screen and (min-width: 730px) {
    .productCard img {
        height: 15rem;
    }
}

@media screen and (min-width: 840px) {
    .productCard img {
        height: 16rem;
    }
}

@media screen and (min-width: 900px) {
    .productCard img {
        height: 18rem;
    }
}

@media screen and (min-width: 1100px) {
    .productCard img {
        height: 12rem;
    }
}

@media screen and (min-width: 1150px) {
    .productCard img {
        height: 14rem;
    }
}

@media screen and (min-width: 1800px) {
    .productCard img {
        height: 16rem;
    }
}