.productCard {
    /* background-color: white; */
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
}

.productCard img {
    display: block;
    object-fit: cover;
    height: 15rem;
    width: 100%;
    cursor: pointer;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
}

.productCard h4 {
    margin: 0.5rem 0;
    /* padding-left: .5rem; */
}

.productCard p {
    margin: 0.3rem 0;
    font-size: .8rem;
    /* padding-left: .5rem; */
}

.productCard hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 1rem 0;
}

.productCard .keySpecs {
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.productCard .price,
.productCard .newPrice {
    font-weight: 550;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.productCard .savePrice {
    opacity: .3;
    text-decoration: none;
    margin-left: .6rem;
}

.productCard button {
    width: 100%;
    padding: .9rem 0;
    background-color: var(--myGreen);
    border: none;
    color: white;
    font-weight: 550;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.productCard button:hover,
.productCard button:active {
    background-color: var(--hoverGreen);
}