footer {
    background-color: var(--myBlack);
    color: var(--greyWhiteTwo);
    height: fit-content;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid var(--myGreen);
}

footer small {
    margin: 0.2rem 0 0 0;
    font-size: .8rem;
}

footer small:last-of-type {
    font-size: .75rem;
    font-weight: 550;
    margin: 0.5rem 0 0 0;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: var(--myGreen);
    font-weight: 550;
}