.contactCard {
    height: 18rem;
    width: 22rem;
    border-bottom-right-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-top: 3px solid var(--myGreen);
    padding: 1rem 1rem;
    background-color: var(--bgBlack2);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flexWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.contactCard .closeIconDiv {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0.1rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--myWhite);
}

.closeIconDiv .closeIcon {
    height: 1.7rem;
    width: 1.7rem;
}

.contactCard .closeIconDiv:hover,
.contactCard .closeIconDiv:active {
    border: 1px solid var(--closeBtn);
    color: var(--closeBtn);
}

.contactCard p:first-of-type {
    margin-top: 2rem;
    font-size: 12px;
    opacity: .4;
}

.contactCard .iconsContactDiv {
    width: fit-content;
    margin: 0.5rem auto 2.5rem auto;
}

.iconsContactDiv .iconContactBuyer {
    height: 2rem;
    width: 2rem;
}

.iconsContactDiv .phoneIcon {
    color: #085cce;
}

.iconsContactDiv .msgIcon {
    margin: 0 2.5rem;
    color: #2177e9;
}

.iconsContactDiv .whatsappIcon {
    color: #4de969;
}

.contactCard p,
.contactCard h3 {
    text-align: center;
}

.contactCard h3 {
    color: var(--myGreen);
    margin: 0 0 3rem 0;
    font-size: 1.7em;
}