:root {
  --myGreen: #44d62c;
  --hoverGreen: #18b300;
  --myWhite: #eee;
  --greyWhite: #ddd;
  --greyWhiteTwo: #9a9a9a;
  --myBlack: #020202;
  --bgBlack2: #111;
  --bgBlack3: #222;
  --closeBtn: #ec4134;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 15px;
  /* background-color: var(--greyWhite); */
  color: var(--myWhite);
  background-color: var(--myBlack);
}